.col {
    width: 45px;
    height: 45px;
    margin: 7px;
    border: 5px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-radius: 50%;
    background-color: white;

}
.col:hover {
    background-color: blue;
}
.row {
    width: 400px;
    margin: 0px auto;
    display: flex;
    justify-content: center;

}

#highscore {
    text-align: right;
    font-weight: normal;
    color: black;

}

#connect4Board{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 450px;
    height: 390px;
    border-radius: 5%;

}

.username{
    font-weight: bold;
    color: black;
    border: 5px black solid;
    border-radius: 15%;
    width: 420px;
    background-image: linear-gradient(to top left, rgb(55, 0, 255), rgb(252, 38, 163));
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
    padding: 15px 32px;
    margin-right: 10px;
    margin-left: 10px;
}

.reset-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10%;
  }

  .reset-button-class {
    text-align: center;
}

#header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 15px;
  }
.submit {
    background-color: pink; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10%;
    margin: 0 auto;
  }
  .submit-button-class {
      padding: 5px;
    text-align: center;
}


  #winner-message {
    display: none;
    background-color: white;
    text-align: center;
    
} 


.right {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.parent {
    display: flex;
}
